AWS_ACCESS_KEY_ID=XXXXX AWS_SECRET_ACCESS_KEY=XXXXX  sam deploy --stack-name ScrumBot --region us-east-2 --s3-bucket XXXXX --capabilities CAPABILITY_IAM --parameter-overrides SpreadsheetId=XXXX SlackApiToken=XXXXX